In [2]:

import pandas as pd

users_items = pd.read_parquet("D:\\Users\\Cesar\\Desktop\\Proyecto_individial_1\\Data_ingeneria\\ETL\\users_items_ETL")

In [4]:
users_items.head()

,user_id,steam_id,item_id,item_name,playtime_forever
0,76561197970982479,76561197970982479,10,Counter-Strike,6
1,76561197970982479,76561197970982479,20,Team Fortress Classic,0
2,76561197970982479,76561197970982479,30,Day of Defeat,7
3,76561197970982479,76561197970982479,40,Deathmatch Classic,0
4,76561197970982479,76561197970982479,50,Half-Life: Opposing Force,0

In [5]:
# esta linea de codigo muestra informacion de la tabla  para revisar las columnas y 
# determinar que columna se nesesita segun las consignas y tipo de dato que se nesesita para
# hacer las funciones de las consultas, ademas determinar si hay nulos, vacios para remplazar y no 
# afectar la consulta 

users_items.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5153209 entries, 0 to 5153208
Data columns (total 5 columns):
 #   Column            Dtype
---  ------            -----
 0   user_id           object
 1   steam_id          object
 2   item_id           Int32
 3   item_name         object
 4   playtime_forever  int64
dtypes: Int32(1), int64(1), object(3)
memory usage: 181.8+ MB

In [7]:
# se convierte la columna "item_id" de tipo objeto a entero para facilitar las consultas 

users_items['item_id'] = pd.to_numeric(users_items['item_id'], errors='coerce')

users_items['item_id'] = users_items['item_id'].round(0).astype('Int32')

In [8]:
# en esta linea de codigo revisamos si hay valores faltantes o nulos 
print(users_items.isnull().sum())
# observamos que no hay valores faltantes o nulos, por lo cual no hay que eliminar filas ni imputar valores

user_id             0
steam_id            0
item_id             0
item_name           0
playtime_forever    0
dtype: int64

In [9]:
users_items.head()

,user_id,steam_id,item_id,item_name,playtime_forever
0,76561197970982479,76561197970982479,10,Counter-Strike,6
1,76561197970982479,76561197970982479,20,Team Fortress Classic,0
2,76561197970982479,76561197970982479,30,Day of Defeat,7
3,76561197970982479,76561197970982479,40,Deathmatch Classic,0
4,76561197970982479,76561197970982479,50,Half-Life: Opposing Force,0

In [10]:
users_items.to_parquet("users_items_ETL")