In [6]:
import pandas as pd

# Lee el DataFrame desde el archivo Parquet
users_reviews = pd.read_parquet("D:\\Users\\Cesar\\Desktop\\Proyecto_individial_1\\Data_ingeneria\\ETL\\users_reviews_ETL")

In [7]:
users_reviews.head(2)

,user_id,posted,item_id,helpful,recommend,review
0,76561197970982479,"Posted November 5, 2011.",1250,No ratings yet,True,Simple yet with great replayability. In my opi...
1,76561197970982479,"Posted July 15, 2011.",22200,No ratings yet,True,It's unique and worth a playthrough.

In [8]:
# esta linea de codigo muestra informacion de la tabla  para revisar las columnas y 
# determinar que columna se nesesita segun las consignas y tipo de dato que se nesesita para
# hacer las funciones de las consultas, ademas determinar si hay nulos o vacios para remplazar y no 
# afectar la consulta 

users_reviews.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 59305 entries, 0 to 59304
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   user_id    59305 non-null  object
 1   posted     59305 non-null  object
 2   item_id    59305 non-null  Int32
 3   helpful    59305 non-null  object
 4   recommend  59305 non-null  bool
 5   review     59305 non-null  object
dtypes: Int32(1), bool(1), object(4)
memory usage: 2.1+ MB

In [10]:
# verificamos si hay valores nulos y cuantos 
users_reviews.isnull().sum()
# podemos observar que no hay valores faltates o nulos, por lo cula no hay que eliminar filas ni imputar valores

user_id      0
posted       0
item_id      0
helpful      0
recommend    0
review       0
dtype: int64

In [11]:
# se convierte la columna "item_id" de tipo objeto a entero para facilitar las consultas 

users_reviews['item_id'] = pd.to_numeric(users_reviews['item_id'], errors='coerce')

users_reviews['item_id'] = users_reviews['item_id'].round(0).astype('Int32')

In [12]:
users_reviews.head()

,user_id,posted,item_id,helpful,recommend,review
0,76561197970982479,"Posted November 5, 2011.",1250,No ratings yet,True,Simple yet with great replayability. In my opi...
1,76561197970982479,"Posted July 15, 2011.",22200,No ratings yet,True,It's unique and worth a playthrough.
2,76561197970982479,"Posted April 21, 2011.",43110,No ratings yet,True,Great atmosphere. The gunplay can be a bit chu...
3,js41637,"Posted June 24, 2014.",251610,15 of 20 people (75%) found this review helpful,True,I know what you think when you see this title ...
4,js41637,"Posted September 8, 2013.",227300,0 of 1 people (0%) found this review helpful,True,For a simple (it's actually not all that simpl...