In [25]:
import pandas as pd

# Leer el archivo JSON comprimido con gzip y convertirlo a un DataFrame de pandas
steam_games = pd.read_csv("D:\\Users\\Cesar\\Desktop\\Proyecto_individial_1\\Data_ingeneria\\ETL\\steam_games_ETL")

In [26]:
# se remplasan valores nulos con "sin informcion"
steam_games = steam_games.fillna("Sin Información")

In [27]:
# esta linea de codigo muestra las 5 primeras filas para analizar la dataframe 
steam_games.head(2)

,Unnamed: 0,publisher,genres,app_name,item_id,release_year
0,0,Sin Información,Sin Información,Sin Información,0,0
1,1,Sin Información,Sin Información,Sin Información,0,0

In [28]:
# esta linea de codigo muestra informacion de la tabla  para revisar las columnas y 
# determinar que columna se nesesita segun las consignas y tipo de dato que se nesesita para
# hacer las funciones de las consultas
steam_games.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 120445 entries, 0 to 120444
Data columns (total 6 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   Unnamed: 0    120445 non-null  int64
 1   publisher     120445 non-null  object
 2   genres        120445 non-null  object
 3   app_name      120445 non-null  object
 4   item_id       120445 non-null  int64
 5   release_year  120445 non-null  int64
dtypes: int64(3), object(3)
memory usage: 5.5+ MB

In [30]:
# segun el analisis es coveniente renombrar la columna "id" a "item_id" ya que en otras tablas estan con ese nombre y
# es importante para futuras consultas, ademas la columna es tipo float con datos json en un dataframe que estan anidados

# se cambia el nombre columna "id" a "item_id"
steam_games.rename(columns={'id': 'item_id'}, inplace=True)
# se crea una lista con los datos anidados 
steam_games['item_id'] = steam_games['item_id'].apply(lambda x: str(x).split(',') if pd.notnull(x) else x)
# se deasnida 
steam_games = steam_games.explode('item_id').reset_index(drop=True)
# se convierte a numero la columna 
steam_games['item_id'] = pd.to_numeric(steam_games['item_id'], errors='coerce')
# se quitan los decimales dejando un entero 
steam_games['item_id'] = steam_games['item_id'].fillna(0).astype(int)

In [32]:
# esta linea de codigo se combierte los valores None en NaN para no tener problemas al unir varios dataframe para las
# consultas debido a que NaN tiene una representación consistente de valores faltantes ayudará a evitar problemas al 
# trabajar con diferentes DataFrames que pueden tener diferentes representaciones de valores nulos.
steam_games.replace({None: pd.NA}, inplace=True)

In [34]:
# una vez relizadas las transformciones de tipo de datos,renombrar columnas y eliminar columnas para facilitar las consultas
# procedemos hacer analisis de nulos,valores duplicados,valores faltantes,analisis estadisticos de datos,correlaciones 

# para esta linea de codigo vamos a contar los nulos por cada columna 

steam_games.isnull().sum()

# notamos  que los valores nulos de "item_id" y "release_year"  fueron remplazados por 0 al comvertirlos a enteros en pandas
# el resto de las columnas del nuevo data frame tienen mucho nulos del total de filas que son 120445 lo cual no vamos a
# borar debido a que son muchos y pueden afectar los datos de otras tablas y las mismas consultas

Unnamed: 0      0
publisher       0
genres          0
app_name        0
item_id         0
release_year    0
dtype: int64

In [35]:
# para valores duplicados podriamos utilizar la siguiente linea 

steam_games.duplicated().sum()

0

In [36]:
steam_games.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 120445 entries, 0 to 120444
Data columns (total 6 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   Unnamed: 0    120445 non-null  int64
 1   publisher     120445 non-null  object
 2   genres        120445 non-null  object
 3   app_name      120445 non-null  object
 4   item_id       120445 non-null  int32
 5   release_year  120445 non-null  int64
dtypes: int32(1), int64(2), object(3)
memory usage: 5.1+ MB

In [37]:
# Elimina la columna "Unnamed: 0"
steam_games = steam_games.drop(columns=['Unnamed: 0'])

In [38]:
steam_games.to_csv("steam_games_ETL")

In [39]:
steam_games

,publisher,genres,app_name,item_id,release_year
0,Sin Información,Sin Información,Sin Información,0,0
1,Sin Información,Sin Información,Sin Información,0,0
2,Sin Información,Sin Información,Sin Información,0,0
3,Sin Información,Sin Información,Sin Información,0,0
4,Sin Información,Sin Información,Sin Información,0,0
...,...,...,...,...,...
120440,Ghost_RUS Games,"['Casual', 'Indie', 'Simulation', 'Strategy']",Colony On Mars,773640,2018
120441,Sacada,"['Casual', 'Indie', 'Strategy']",LOGistICAL: South Africa,733530,2018
120442,Laush Studio,"['Indie', 'Racing', 'Simulation']",Russian Roads,610660,2018
120443,SIXNAILS,"['Casual', 'Indie']",EXIT 2 - Directions,658870,2017
120444,Sin Información,Sin Información,Maze Run VR,681550,0